/* Anchor */
a, a:hover {
   text-decoration: none;
}

/* Color */
.color_anti_flash_white {
  color: #E8F1F2;
}

/* Font */
.body {
  font-family: 'Raleway', sans-serif;
}

.font_raleway {
  font-family: 'Raleway', sans-serif;
}

/* Font size */
.font_size_50px {
  font-size: 50px
}

.font_size_24px {
  font-size: 24px;
}

/* Text transform */
.text_transform_uppercase {
  text-transform: uppercase;
}

/* Padding */
.padding_bottom_50px {
  padding-bottom: 50px;
}

/* Heading of section */
.section_heading {
  border: 4px solid #E8F1F2;
  padding: 5px 20px;
  color: #E8F1F2;
}

/* Skill tag */
.tag {
  background-color: #247BA0;
  color: #E8F1F2;
  font-size: 1.17em;
  border-radius: 3px;
  display: inline-block;
  padding: 2px 8px;
  margin-right: 8px;
  margin-bottom: 15px;
}

.tag.opacity_0p75 {
  opacity: 0.75;
}

.tag.opacity_0p5 {
  opacity: 0.5;
}

/* Project image */
.projectImgWrapper {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.projectImage {
  position: relative;
  top: 0px;
  transition: top 0.5s;
}

.projectImgWrapper:hover .projectImage {
  top:-30px;
}

/* Project label */
.imgLabel {
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: -40px;
  transition: bottom 0.5s;
}

.imgLabel-text {
  position: relative;
  z-index: 2;
}

.projectImgWrapper:hover .imgLabel {
  bottom: 0px;
}

.text-category {
  display: block;
}

.text-category span{
  display : inline;
  margin-left : 5px;
}

.label-bg {
  background: #ccc;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
